<h1>Create New Recipe Here</h1>

<form method="POST" action="/recipes">
    <label for="name">Recipe Name</label>
    <br>
    <input type="text" id="name" name="name" placeholder="Enter Recipe Name">
    <p></p>
    <label for="ingredients">Ingredients</label>
    <br>
    <input type="text" id="ingredients" name="ingredients" placeholder="What Are The Ingredients?">
    <p></p>
    <label for="cook_time">Cook Time</label>
    <br>
    <input type="text" id="cook_time" name="cook_time" placeholder="How Long?">
    <p></p>
    <input type="submit" value="Submit Recipe">
</form>